#title{
    width: 100%;
    height: 200px;
    margin: 0px;
    color: aliceblue;
    text-align: center;
    font-size: 5em;
}
#sub{
    background-color: white;
    width: 100%;
    margin: 0px;
    height: 30px;
    font-size: 2em;
    text-align: center;
    border-bottom: 3px solid black;
    padding-bottom: 7px;
    box-shadow: inset 0 0 10px gray
}
.colorb{
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 20px;
    border: 2px solid white;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 800px;
    margin: 0 auto;
    border: 100px;
    padding: 25px;
}
body{
    margin: 0px;
    background-color: rgb(53, 53, 53);    
}
.colorb:hover{
    transform: scale(1.1);
    transition: 0.5s;
    border: 4px solid white;
}